.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 1.5rem;

    .menu-container {
        position: relative;


        button.toggle-button {
            width: 2.5rem;
            height: 2.5rem;
            background-color: transparent;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            flex-direction: column;
            justify-content: space-between;
            display: flex;
            order: 3;
            margin: 1rem;
            padding: 0.6rem;

            @include phone(699px) {
                padding: 0.5rem;
            }

            .bar {
                width: 100%;
                height: 0.1rem;
                background-color: rgb(209, 209, 209);
                transition: 0.3s;

                &:first-child {
                    transform: translateY(2px);
                    width: 80%;

                }

                &:last-child {
                    transform: translateY(-2px);
                    width: 60%;
                }

            }

            &.open {

                .bar:first-child {
                    transform: translateY(0.5rem) rotate(45deg);
                    width: 100%;
                }

                .bar:last-child {
                    transform: translateY(-0.7rem) rotate(-45deg);
                    width: 100%;
                }

                .bar:nth-child(2) {
                    opacity: 0;
                }
            }


        }
    }
}